body{
background-color: #1c8ef8;
font-family: sans-serif;
}
.login{
    width: 300px;
    height: 350px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
}
.login h2{
    display: inline-block;
    color: grey;
}
.login input{
    width: 200px; 
    height: 40px;
    border-radius: 5px;
    border: 1px solid grey;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.check input{
    width: 10px;
    height: 10px;
}
.login button{
    width: 220px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #167bff;
    color: white;
}
p{
    display: inline-block;
    float: left;
    padding-left: 40px;
    margin: 0px;
}
.check{
float: left;
padding-left: 40px;
}
.login a{
    float: right;
    padding-right: 40px;
    text-decoration: none;
    margin-top: 10px;

}